<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active"><a href="#">Galleria</a></li>
					<li><a href="" ng-click="gotoBottom()">Yhteystiedot</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>

<section class="info">
	<div class="container">
	<h1>Freelance-valokuvaaja Suvi Elo</h1><br/>
	<p>Olen turkulainen freelance-valokuvaaja. Työskentelen pääasiassa aikakaus- ja asiakaslehdille. Asiakkaitani ovat esimerkiksi Anna, Kotiliesi, Koirat, Suomen Luonto, Lemmikki, Maalla ja Skanska. Työni teen ajatuksella ja sovitussa aikataulussa.</p>
<p><button ng-click="gotoBottom()" class="nappi">&rarr; OTA YHTEYTTÄ</button></p>
	</div>
</section>
<div class="container" galleria>
<div class="row-fluid">
	  <div class="span12"><img src="images/218.jpg" kuva title="Näyttelijä Maria Kuusiluoma. -Anna"></div>
	</div>
<div class="row-fluid">
		<div class="span6"><img src="images/323.jpg" kuva title="Teksti puuttuu -Anna"></div>  
		<div class="span6">
			<kuvaus-sessio time-out="3">
	  			<img src="images/872-a.jpg" kuva title="Teksti puuttuu -Anna"/>
	  			<img src="images/895-b.jpg" kuva title="Teksti puuttuu -Anna"/>
	  		</kuvaus-sessio>
		</div> 
		<div class="span4"><img src="images/895-b.jpg" kuva title="Teksti puuttuu -Anna"></div> 
	</div>
	<div class="row-fluid">
		<div class="span4"><img src="images/10.jpg" kuva title="Kaarina Koskisen kesämökki Raumalla. -Maalla"></div>  
		<div class="span4"><img src="images/6387-a.jpg" kuva title="Teksti puuttuu -Anna"></div> 
		<div class="span4"><img src="images/935-c.jpg" kuva title="Teksti puuttuu -Anna"></div> 
	</div>
	<div class="row-fluid">
	<div class="span6"><img src="images/739.jpg" kuva title="Muusikko ja kirjailija Kauko Röyhkä -Anna"></div>
	  <div class="span6"><img src="images/4053.jpg" kuva title="Teksti puuttuu -Anna"></div>
	</div>
	<div class="row-fluid">
		<div class="span4"><img src="images/2765.jpg" kuva title="Tuotekuva -Kaino"/></div>
  		<div class="span4">
  			<kuvaus-sessio time-out="3">
	  			<img src="images/2851.jpg" kuva title="Tuotekuva -Kaino"/>
	  			<img src="images/2884.jpg" kuva title="Tuotekuva -Kaino"/>
	  			<img src="images/2999.jpg" kuva title="Tuotekuva -Kaino"/>
	  		</kuvaus-sessio>
  		</div>
	   <div class="span4"><img src="images/2241.jpg" kuva title="Tuotekuva -Kaino"/></div>
	</div>
	<div class="row-fluid">
  		<div class="span12">
  			<kuvaus-sessio time-out="3">
	  			<img src="images/3129.jpg" kuva title="Tuotekuva -Kaino"/>
	  			<img src="images/3041.jpg" kuva title="Tuotekuva -Kaino"/>
	  		</kuvaus-sessio>
  		</div>
	</div>
	<div class="row-fluid">
	 <div class="span6"><img src="images/2416.jpg" kuva title="Teksti puuttuu -Anna"></div>
	<div class="span6"><img src="images/4388.jpg" kuva title="Muusikko ja kirjailija Kauko Röyhkä -Anna"></div>
	  </div>

	<div class="row-fluid">
	  <div class="span4"><img src="images/2532.jpg" kuva title="Teksti puuttuu -Anna"></div>
	  <div class="span4"><img src="images/4388.jpg" kuva title="Teksti puuttuu -Anna"></div>
	   <div class="span4"><img src="images/1232.jpg" kuva title="Teksti puuttuu -Anna"></div>
	</div>
	<div class="row-fluid">
		<div class="span6"><img src="images/827.jpg" kuva title="STX Finlandin Rauman telakan myyntijohtaja Håkan Enlund -Finpro inFront"></div>
		<div class="span6"><img src="images/1573.jpg" kuva title="Sähkötöitä -Vasama"></div>
	</div>

	
	
     </div> <!-- /container -->
    <section class="footer" id="footer">
	<div class="container">
	<div class="row-fluid">
		<div class="span4"><h1>Ota yhteyttä:</h1>
	<p>&rarr; Suvi Elo<br/>&rarr; Turku<br/>&rarr;040 746 2942<br/>&rarr; suvielo@gmail.com<br/><a href="https://www.facebook.com/suvi.elo.9?ref=ts&fref=ts">&rarr; Facebook</a></p></div>
		<div class="span4"><img src="images/suvi.jpg" kuva title="Valokuvaaja Suvi Elo"></div>
		<div class="span4"></div>
	</div>

	</div>
</section>