<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="#">Suvi Elo</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active"><a href="#">Etusivu</a></li>
					<li><a href="#about">Galleria</a></li>
					<li><a href="#contact">Yhteys</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>

<div class="container" galleria>

	<h3>Freelance-valokuvaaja Suvi Elo - kuvat ajatuksella ja ajallaan.</h3>
	<p>Olen turkulainen freelance-valokuvaaja. Työskentelen pääasiassa aikakaus- ja asiakaslehdille. Asiakkaitani ovat esimerkiksi Anna, Kotiliesi, Koirat, Suomen Luonto, Lemmikki, Maalla ja Skanska.</p>

Työni teen ajatuksella ja sovitussa aikataulussa.</p>

	<div class="row-fluid">
  		<div class="span4">
  			<kuvaus-sessio time-out="4">
	  			<img src="images/323.jpg" kuva/>
	  			<img src="images/323-2.jpg" kuva/>
	  			<img src="images/323-3.jpg" kuva/>
	  		</kuvaus-sessio>
  		</div>
	  <div class="span4"><img src="images/323-2.jpg" kuva /></div>
	  <div class="span4"><img src="images/323-3.jpg" kuva /></div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<img src="images/323-hor.jpg" kuva>
			<img src="images/323-hor.jpg" kuva>
		</div>
	  	<div class="span6"><img src="images/323.jpg" kuva></div>
	</div>
	
	<div class="row-fluid">
	  <div class="span12"><img src="images/323-hor.jpg" kuva></div>
	</div>

	<div class="row-fluid">
		<div class="span6">
			<img src="images/323-hor.jpg" kuva>
			<img src="images/323-hor.jpg" kuva>
		</div>
	  	<div class="span6"><img src="images/323.jpg" kuva></div>
	</div>

	<div class="row-fluid">
		<div class="span4"><img src="images/323-2.jpg" kuva /></div>
	  <div class="span4"><img src="images/323-3.jpg" kuva /></div>
		<div class="span4">
			<kuvaus-sessio time-out="4">
				<img src="images/323.jpg" kuva/>
				<img src="images/323-2.jpg" kuva/>
				<img src="images/323-3.jpg" kuva/>
			</kuvaus-sessio>
		</div>
	  
	</div>

     </div> <!-- /container -->